  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .active {
    background-color:green;
    color: white;
  }

  img {
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
  }

  img:hover{
    cursor: pointer;
  }